.layoutStyles{
    .light-bg{
        transition-duration: 300ms;
        background-color: #f0f2f5;
    }
    .dark-bg{
        transition-duration: 300ms;
        background-color: rgb(0 21 41);
    }
}