@import 'layoutStyles.scss';
@import 'lightTheme.scss';
@import 'darkTheme.scss';
@import 'orderTrackStyles.scss';


// Font Sizings 
.f-5{ font-size: 5px!important; }
.f-10{ font-size: 10px!important; }
.f-11{ font-size: 11px!important; }
.f-12{ font-size: 12px!important; }
.f-13{ font-size: 13px!important; }
.f-15{ font-size: 15px!important; }
.f-20{ font-size: 20px!important; }
.f-25{ font-size: 25px!important; }
.f-30{ font-size: 30px!important; }
.f-35{ font-size: 35px!important; }

// Font Weight 
.fw-100{ font-weight: 100!important; }
.fw-200{ font-weight: 200!important; }
.fw-300{ font-weight: 300!important; }
.fw-500{ font-weight: 500!important; }
.fw-600{ font-weight: 600!important; }

.table-sm-1{
    max-height: 400px;
    overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 25px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-btn-dark{
  background-color: #162A46;
  border: 1px solid rgb(6, 150, 172);
  border-radius: 25px;
  padding:8px 30px 8px 30px;
  font-weight: 500;
}
.custom-btn-dark:hover{
  transition-duration: 300ms;
  background-color: rgb(6, 150, 172);
  color: white;
}

.custom-btn-light{
  background-color: white;
  border: 1px solid rgb(6, 150, 172);
  border-radius: 25px;
  padding:8px 30px 8px 30px;
  font-weight: 500;
}
.custom-btn-light:hover{
  transition-duration: 300ms;
  background-color: rgb(6, 150, 172);
  color: white;
}

.cancel-btn{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(203, 38, 9);
  color: rgb(203, 38, 9);
  border-radius: 25px;
  padding:8px 30px 8px 30px;
  font-weight: 500;
}
.cancel-btn:hover{
  transition-duration: 300ms;
  background-color: rgb(203, 38, 9);
  color: white;
}
.theme-color{
  color: rgb(6, 150, 172)!important;
}

.modify-edit:hover{
  color: rgb(6, 150, 172)!important;
}


// .ant-layout-sider-children{
//   background-color: #164fab;
// }

// #__next > section > aside > div > ul{
//   background-color: #164fab;
// }

// #__next > section > section > header{
//   background-color: #164fab;
// }

.map-container {
  height: 400px;
  }
   
  .sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  }